html{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    background-color: rgb(250, 250, 240);
 
}


nav {
     display: flex;


    gap: 2px;
background-color: beige;
border-bottom: 2px solid rgb(145, 130, 0);
margin-bottom: 100px;

}
a nav{
    margin-left: 200px;
}

.knop1{
    text-decoration: none;
    color: rgb(0, 0, 0);
font-weight: 500;
padding: 25px 25px 25px 25px;


}
.knop1:hover{
    font-weight: 500;
    background-color: rgb(145, 130, 0);
    padding: 25px 25px 25px 25px;
    color: rgb(255, 255, 255);
}
.space{
    margin-left: 10vw;
}
#container{
    width: 80vw;
    margin: auto; 

    
}
h1{

    font-size:300%;
    font-weight:300;

}
div h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 300%;
    font-weight:700;
}
.knop2{

background-color: rgb(65, 82, 138);
border: 3px solid rgb(65, 82, 138);
color:azure;
padding: 15px;
font-weight:500;
font-size:120%;
border-radius: 10px;
text-align: center;
    
}
.knop2:hover{
    background-color: rgb(232, 234, 240);
    border: 3px solid rgb(65, 82, 138);
    color:black;    
    font-weight:600;
font-size:120%;
}
body{
border: 0px solid black;
margin: 0;

}
main{
    border: 0px solid black;
  
}
img{
    width: 900px;
    height: auto;
}
.naast{
    display: flex;
    flex-direction: row;
    gap: 60px;

    
}
.onder{
    display: flex;
    flex-direction: column;
    gap: 40px
}

.line{

margin-top: 100px;
border-bottom: 2px solid rgb(145, 130, 0);
margin-bottom: 100px;   
}

.onder2{
    color: black;
    background-color: beige;
    display: flex;
    flex-direction: column;
padding: 40px 120px 40px 60px;
margin-right: 40px;
    gap: 40px

}
.onder3{

    display: flex;
    flex-direction: column;
    margin-bottom: 0px;


    gap: 10px
    

}

.dikkeletters{
    font-weight:700;
font-size:120%;
margin: 0px;
}
.dunneletters{
    font-weight:500;
    font-size:100%;
}

.dikkeletters2{ 
    font-size:300%;
    font-weight:300;
    margin-top: 0;
}
.laatste{
    background-color: rgb(233, 214, 196);
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 100px;

}
.dikkeletters3{
    font-family: 'Quicksand', sans-serif;
    font-size:300%;
    font-weight:500;
    margin-top: 0;
    text-align: center;
}
.dikkeletters4{
    font-family: 'Quicksand', sans-serif;
    font-size:200%;
    font-weight:300;
    margin-top: 0;
    text-align: center;
    margin-bottom: 0px;
}
.naast2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: rgb(1, 0, 71);
    border-top: 0px solid rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom: 40px;
}

.knop3{
    text-decoration: none;
    color: aliceblue;
font-weight: 300;
min-width: 8vw;
max-width: 8vw;

}
.knop3:hover{
    font-weight: 700;
    min-width: 8vw;
    max-width: 8vw;
}
.smallpic{
    height: 100px;
    width: 100px;

    margin-left: 30%;

}
.logopic{
    height: 50px;
    width: auto;
    margin-right: 10px;
    margin-top: 8px;
}
.centertekst{

    max-width: 200px;
    text-align: left;
    margin-left: 30px;
}
.nietbreed{
    max-width: 750px;
}
