html{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    background-color: rgb(252, 251, 216);
    scroll-behavior: smooth;
    scroll-padding: 10rem;

}
nav {
     display: flex;


    gap: 0px;
background-color: rgb(240, 240, 186);
border-bottom: 3px solid rgb(71, 138, 65);
margin-bottom: 100px;
position: sticky;
top: 0;


}
a nav{
    margin-left: 200px;
    
}

.knop1{
    text-decoration: none;
    color: rgb(0, 0, 0);
font-weight: 500;
padding: 16px 25px 16px 25px;
cursor: pointer;
transition: 0.3s ease-in-out;
background-image: linear-gradient( rgb(240, 240, 186)50%, rgb(71, 138, 65)50%);
background-size: 200px 200px;


}
.knop1:hover{
    font-weight: 500;
    top: 20px;
    background-position: 50px -90px;
    padding: 16px 25px 16px 25px;
    color: rgb(255, 255, 255);

}
.space{
    margin-left: 10vw;

}
#container{

    width: 80vw;
    margin: auto; 
}
h1{

    font-size:300%;
    font-weight:300;

}
div h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 300%;
    font-weight:700;
}
.knop2{

background-color: rgb(71, 138, 65);
border: 3px solid rgb(71, 138, 65);
color:azure;
padding: 15px;
font-weight:500;
font-size:120%;
border-radius: 10px;
text-align: center;
transition: 0.5s;
cursor: pointer;
    
}
.knop2:hover{

    background-color: rgb(224, 255, 184);
    background-image: url("https://www.animationsoftware7.com/img/agifs/leaf_fall_4.gif");
    border: 3px solid rgb(71, 138, 65);
    color:black;    
font-size:120%;

}
body{
border: 0px solid black;
margin: 0;

}

.mainpic{
    width: 900px;
    height: auto;

}
.naast{
    display: flex;
    flex-direction: row;
    gap: 0px;

    
}
.onder{

    display: flex;
    flex-direction: column;
   padding-left: 100px;
padding-right: 100px; 

border: 15px solid transparent;
border-image: linear-gradient(0deg, #c0b4a6, rgb(255, 255, 255)) 1;
border-left: 0;
}

.line{

margin-top: 100px;
border-bottom: 3px solid rgb(71, 138, 65);
margin-bottom: 100px;   
}

.onder2{
    color: black;
    background-color: rgb(240, 240, 186);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
padding: 40px 120px 40px 60px;
margin-right: 40px;
    gap: 40px

}
.onder3{

    display: flex;
    flex-direction: column;
    margin-bottom: 0px;


    gap: 10px
    

}

.dikkeletters{
    font-weight:700;
font-size:120%;
margin: 0px;
}
.dunneletters{
    font-weight:500;
    font-size:100%;
}

.dikkeletters2{ 
    font-size:300%;
    font-weight:300;
    margin-top: 0;
}
.laatste{
    background-color: rgb(233, 214, 196);
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 100px;

}
.dikkeletters3{
    font-family: 'Quicksand', sans-serif;
    font-size:300%;
    font-weight:500;
    margin-top: 0;
    text-align: center;
}
.dikkeletters4{
    font-family: 'Quicksand', sans-serif;
    font-size:200%;
    font-weight:300;
    margin-top: 0;
    text-align: center;
    margin-bottom: 0px;
}
.naast2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;

}
footer{
    display: flex;
    gap: 100px;
    background-color: rgb(46, 39, 0);
    border-top: 0px solid rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;


}

.knop3{
    text-decoration: none;
    color: aliceblue;
font-weight: 300;
min-width: 8vw;
max-width: 8vw;
transition: 0.5s;
cursor: pointer;
}
.knop3:hover{
    color:rgb(0, 0, 0);
    min-width: 8vw;
    max-width: 8vw;
    font-weight: 500;
    text-shadow: 0px 0px 10px #ffffff;

}
.smallpic{
    height: 100px;
    width: 100px;

    margin-left: 30%;
    border-radius: 15px;

}
.logopic{
    height: 50px;
    width: auto;
    margin-right: 10px;
    margin-top: 3px;
    
}
.centertekst{

    max-width: 200px;
    text-align: left;
    margin-left: 30px;
}
.nietbreed{
    max-width: 750px;
}
